<script>
	var ListTable, modalListTable
    $(function () {
		ListTable = $('#corlist').dataTable( {
		    "processing": true,
			"serverSide": true,
            "ajax": {
					"url": "cor_proc.do",
					"dataType": "json",
					"type" : 'POST',  
					"data": function(d){
							d.wtype = "AllLoadList";
							d.SType = "1";
							d.SGbn = $("#SGbn").val();

							d.Sdept = $("#Sdept").val();
							
							}
				  },
				 "columnDefs": [{"targets": [ 0 ], "visible": false,"searchable": false}
								 
								 ,{"targets": [ 2 ], "visible": false,"searchable": false}
								 
							   ],

				//칼럼 정의
				"columns": [
					 { "data": "IDX","width":"1%"}
					,{ "data": "TYPE","width":"8%" }
					,{ "data": "GBN","width":"8%" }
					,{ "data": "CONT","width":"8%" }
					,{ "data": "TITLE","width":"20%" }
					,{ "data": "INSNO","width":"5%" }
					,{ "data": "DEPT","width":"10%" }
					,{ "data": "INTERVAL","width":"5%" }
					,{ "data": "MAN","width":"10%" }
					,{ "data": "DATE","width":"10%" }
					,{ "data": "NDATE","width":"8%" }
					,{ "data": "RESULT" }
					,{ "data": "REPORT" }
					]
					,"pagingType": "full_numbers"
					,"order": [[ 0, "desc" ]]
					, "iDisplayLength": 30
					,"lengthMenu": [ 10, 30, 50]
        });

		$(".schSelect").change(function(){
			ListTable.DataTable().ajax.reload();
		});


		$(".btnsch").click(function(){
			if($("select[name=SType]:eq(0)").val()=="") { toastMsg("error","검색 조건을 선택하세요");$("select[name=SType]:eq(0)").focus(); return; }
			if($("input[name=SWord]:eq(0)").val()==""){ toastMsg("error","검색 구문을 입력하세요");$("input[name=SWord]:eq(0)").focus(); return; }
			ListTable.DataTable().ajax.reload();
		});

		$("#newBtn").click(function(){
			$("#CorGbn").removeClass("error");
			$("#DelBtn, #SaveBtnDet, #DelDetBtn").hide();
			$("#SaveBtnMst").show();
			$("#wtype").val("corInsert");
			frm.reset();
			$("#BtnDetReset").click(); //상세 정보 초기화
			LoadDetlist('');
			$("#detlist, #detinput").removeClass("in");
			$(".viewicon").removeClass("fa-chevron-down").addClass("fa-chevron-up");
			$(".equiDet").each(function(){$(this).text("");});
			$("#corInsert").modal("show");
		});

		//기기 목록 모달
	   modalListTable = $('#equilist').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
					"url": "equi_proc.do",
					"dataType": "json",
					"type" : 'POST',  
					"data": function(d){
							d.wtype = "LoadList"
							d.Spart = $("#Spart").val();
							d.Sdept = $("#Sdept").val();
							d.Sstatus = $("#Sstatus").val();
							}
				  },
				 "columnDefs": [{"targets": [ 0 ], "visible": false,"searchable": false}],

				//칼럼 정의
				"columns": [
					 { "data": "IDX","width":"10%","class":"insidx"}
					,{ "data": "PART","width":"10%" }
					,{ "data": "GUBUN","width":"20%" }
					,{ "data": "TITLE","width":"15%" ,"class":"institle"}
					,{ "data": "NUMBER","width":"10%","class":"insnumber"}
					,{ "data": "DPT","width":"15%" }
					,{ "data": "BUYDATE","width":"10%","class":"buydate" }
					,{ "data": "BUYMAN","width":"10%" }
					,{ "data": "STATUS","width":"10%" }
					,{ "data": "PRICE","width":"10%","class":"buyprice" }
					]
					,"pagingType": "full_numbers"
					,"order": [[ 0, "desc" ]]
		});
		$(".schSelect").change(function(){
			modalListTable.DataTable().ajax.reload();
		});
	});

	$(document).on("keypress","input[name=SWord]",function(e){
		if(e.keyCode==13){
			$(".btnsch").click();
		};
	});

	$(document).on("click",".conrow",function(){
		var thisidx = $(this).attr("id")
		$.ajax({
			url: "cor_proc.do",
			type: "POST",
			data: {wtype : "CorLoad", CorCode : thisidx},
			dataType: "json",
			error: function(request, status, error){ PopalterMsg('error','Error',error);}, 
			success: function(retdata, status, request){
				$("input[name=CorCode]").val(thisidx);
				$("#CorGbn").val(retdata.data.GBN);
				$("#INS_CODE").val(retdata.data.INSIDX);
				$("#INS_NO").val(retdata.data.INSNO);
				$("#InsName").val(retdata.data.INSTITLE);

				$(".equiDet:eq(0)").text(retdata.data.DEPT);
				$(".equiDet:eq(1)").text(retdata.data.MAKEBY);
				$(".equiDet:eq(2)").text(retdata.data.MODEL);
				$(".equiDet:eq(3)").text(retdata.data.WHERE);

				$("#CorSerial").val(retdata.data.SERIAL);
				$("#CorCont").val(retdata.data.CONT);

				$("#corInsert .modal-title").text(retdata.data.TYPE + "정보");
				$("#corInsert").modal("show");
			}
		});
		$("#BtnDetReset").click();
		$("#detinput").removeClass("in");
		$(".viewicon:eq(0)").removeClass("fa-chevron-down").addClass("fa-chevron-up");
		LoadDetlist(thisidx); //List 로드

	});
	
	//상세정보 로딩
	$(document).on("click",".detrow",function(){
		var thisidx = $(this).attr("id");
		LoadDetail(thisidx)

	});



	function LoadDetlist(thisidx){
		if (thisidx=="")
		{
			$("#detlist").removeClass("in");
			$(".viewicon:eq(1)").removeClass("fa-chevron-down").addClass("fa-chevron-up");
			$("#detlist table >tbody").html("");

		}else{
		
			$.ajax({
				url: "cor_proc.do",
				type: "POST",
				data: {wtype : "CorLoadDetList", CorCode : thisidx},
				dataType: "text",
				error: function(request, status, error){ PopalterMsg('error','Error',error);}, 
				success: function(retdata, status, request){
					$("#detlist table >tbody").html(retdata);
					$("#detlist").addClass("in");
					$(".viewicon:eq(1)").removeClass("fa-chevron-up").addClass("fa-chevron-down");

					
				}
			});
		}
	}
	function LoadDetail(thisidx){
		if (thisidx=="")
		{
			$("#detinput").removeClass("in");
			$(".viewicon:eq(0)").removeClass("fa-chevron-down").addClass("fa-chevron-up");

		}else{
			$.ajax({
				url: "cor_proc.do",
				type: "POST",
				data: {wtype : "CorLoadDetail", detCode : thisidx},
				dataType: "json",
				error: function(request, status, error){ PopalterMsg('error','Error',error);}, 
				success: function(retdata, status, request){
					$("input[name=DetCode]").val(retdata.DETIDX);
					
					if (retdata.COR_SABUNNM =="")
					{
						$("#CorSabun").val(retdata.COR_COMPANY);
					}else{
						$("#CorSabun").val(retdata.COR_SABUNNM);
					}
					$("#Corcost").val(retdata.COR_PAY);
					$("#corSDATE").val(retdata.COR_SDATE);
					$("#corEDATE").val(retdata.COR_EDATE);
					$("#corNDATE").val(retdata.COR_NDATE);
					$("#corRDATE").val(retdata.COR_RDATE);
					$("#corCDATE").val(retdata.COR_CDATE);
					$("#corResult").val(retdata.COR_RESULT);
					$("#corReqno").val(retdata.COR_REQNO);
					$("#corReqPlace").val(retdata.COR_REQPLACE);
					$("#corBigo").val(fromHtmlTextArea(retdata.COR_BIGO));
					$("#corPm").val(retdata.COR_PM);
					$("#corPmdate").val(retdata.COR_PMDATE);
					$("#corcArea").val(retdata.COR_CAREA);
					$("#corDesc").val(fromHtmlTextArea(retdata.COR_DESC));
					$("#corCount").val(retdata.COR_COUNT);
					if (retdata.TYPECD == "3") {$(".type3").show()}
					else{ $(".type3").hide()}
					$("#DelDetBtn").show();


					$("#detinput").addClass("in");
					$(".viewicon:eq(0)").removeClass("fa-chevron-up").addClass("fa-chevron-down");
					
				}
			});
		}
	}
	$(document).on("click",".btnexcel",function(){
			$("#SearchWord").val($("#corlist_filter").find("input").val());
			schfrm.action="repa_xls.do?wtype=CorAll"
			schfrm.target="blank"
			schfrm.submit();
	});
</script>
</body>
</html>
